# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
headers/.vscode/settings.json
headers/build/cmake_install.cmake
headers/build/CMakeCache.txt
headers/build/compile_commands.json
headers/build/CPackConfig.cmake
headers/build/CPackSourceConfig.cmake
headers/build/DartConfiguration.tcl
headers/build/Makefile
headers/build/.cmake/api/v1/query/client-vscode/query.json
headers/build/.cmake/api/v1/reply/cache-v2-115c296542c62c72877f.json
headers/build/.cmake/api/v1/reply/codemodel-v2-a02d3721eeb376f3c9a0.json
headers/build/.cmake/api/v1/reply/index-2020-08-05T14-14-31-0592.json
headers/build/.cmake/api/v1/reply/target-test-Debug-2a18029cadf760f3ec2a.json
headers/build/CMakeFiles/cmake.check_cache
headers/build/CMakeFiles/CMakeDirectoryInformation.cmake
headers/build/CMakeFiles/CMakeOutput.log
headers/build/CMakeFiles/Makefile.cmake
headers/build/CMakeFiles/Makefile2
headers/build/CMakeFiles/progress.marks
headers/build/CMakeFiles/TargetDirectories.txt
headers/build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
headers/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
headers/build/CMakeFiles/3.17.0/CMakeRCCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeSystem.cmake
headers/build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
headers/build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
headers/build/CMakeFiles/test.dir/build.make
headers/build/CMakeFiles/test.dir/cmake_clean.cmake
headers/build/CMakeFiles/test.dir/CXX.includecache
headers/build/CMakeFiles/test.dir/depend.internal
headers/build/CMakeFiles/test.dir/depend.make
headers/build/CMakeFiles/test.dir/DependInfo.cmake
headers/build/CMakeFiles/test.dir/flags.make
headers/build/CMakeFiles/test.dir/link.txt
headers/build/CMakeFiles/test.dir/linklibs.rsp
headers/build/CMakeFiles/test.dir/objects1.rsp
headers/build/CMakeFiles/test.dir/progress.make
