# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
headers/.vscode/settings.json
headers/build/cmake_install.cmake
headers/build/CMakeCache.txt
headers/build/compile_commands.json
headers/build/CPackConfig.cmake
headers/build/CPackSourceConfig.cmake
headers/build/DartConfiguration.tcl
headers/build/Makefile
headers/build/.cmake/api/v1/query/client-vscode/query.json
headers/build/.cmake/api/v1/reply/cache-v2-115c296542c62c72877f.json
headers/build/.cmake/api/v1/reply/codemodel-v2-a02d3721eeb376f3c9a0.json
headers/build/.cmake/api/v1/reply/index-2020-08-05T14-14-31-0592.json
headers/build/.cmake/api/v1/reply/target-test-Debug-2a18029cadf760f3ec2a.json
headers/build/CMakeFiles/cmake.check_cache
headers/build/CMakeFiles/CMakeDirectoryInformation.cmake
headers/build/CMakeFiles/CMakeOutput.log
headers/build/CMakeFiles/Makefile.cmake
headers/build/CMakeFiles/Makefile2
headers/build/CMakeFiles/progress.marks
headers/build/CMakeFiles/TargetDirectories.txt
headers/build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
headers/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
headers/build/CMakeFiles/3.17.0/CMakeRCCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeSystem.cmake
headers/build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
headers/build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
headers/build/CMakeFiles/test.dir/build.make
headers/build/CMakeFiles/test.dir/cmake_clean.cmake
headers/build/CMakeFiles/test.dir/CXX.includecache
headers/build/CMakeFiles/test.dir/depend.internal
headers/build/CMakeFiles/test.dir/depend.make
headers/build/CMakeFiles/test.dir/DependInfo.cmake
headers/build/CMakeFiles/test.dir/flags.make
headers/build/CMakeFiles/test.dir/link.txt
headers/build/CMakeFiles/test.dir/linklibs.rsp
headers/build/CMakeFiles/test.dir/objects1.rsp
headers/build/CMakeFiles/test.dir/progress.make
headers/build/.cmake/api/v1/reply/codemodel-v2-3b572129181921eeb84a.json
headers/build/.cmake/api/v1/reply/index-2020-08-06T12-17-28-0396.json
headers/build/.cmake/api/v1/reply/target-test-Debug-a0e5d6b412ec0990b838.json
headers/build/.cmake/api/v1/reply/codemodel-v2-08a4adeae1d9022d2f91.json
headers/build/.cmake/api/v1/reply/index-2020-08-06T15-20-27-0057.json
headers/build/.cmake/api/v1/reply/target-test-Debug-260c97449459d7505a37.json
headers/graph.gc
headers/build/.cmake/api/v1/reply/index-2020-08-06T21-47-48-0895.json
headers/build/.cmake/api/v1/reply/index-2020-08-06T22-04-43-0080.json
headers/build/CMakeFiles/Progress/7
headers/build/CMakeFiles/Progress/count.txt
headers/build/.cmake/api/v1/reply/index-2020-08-06T22-12-11-0423.json
headers/build/.cmake/api/v1/reply/index-2020-08-07T07-03-56-0748.json
headers/G1.gc
headers/G2.gc
headers/G3.gc
headers/build/.cmake/api/v1/reply/codemodel-v2-1e12395f59eab3eaa5f9.json
headers/build/.cmake/api/v1/reply/index-2020-08-08T15-37-44-0916.json
headers/build/.cmake/api/v1/reply/target-calculator-Debug-09506bdfc53cbff81ceb.json
headers/build/CMakeFiles/calculator.dir/build.make
headers/build/CMakeFiles/calculator.dir/cmake_clean.cmake
headers/build/CMakeFiles/calculator.dir/CXX.includecache
headers/build/CMakeFiles/calculator.dir/depend.internal
headers/build/CMakeFiles/calculator.dir/depend.make
headers/build/CMakeFiles/calculator.dir/DependInfo.cmake
headers/build/CMakeFiles/calculator.dir/flags.make
headers/build/CMakeFiles/calculator.dir/link.txt
headers/build/CMakeFiles/calculator.dir/linklibs.rsp
headers/build/CMakeFiles/calculator.dir/objects1.rsp
headers/build/CMakeFiles/calculator.dir/progress.make
project/build/cmake_install.cmake
project/build/CMakeCache.txt
project/build/compile_commands.json
project/build/CPackConfig.cmake
project/build/CPackSourceConfig.cmake
project/build/CTestTestfile.cmake
project/build/DartConfiguration.tcl
project/build/Makefile
project/build/.cmake/api/v1/query/client-vscode/query.json
project/build/.cmake/api/v1/reply/cache-v2-224f949d5c87612749cd.json
project/build/.cmake/api/v1/reply/codemodel-v2-659fdafddf9a85c8433c.json
project/build/.cmake/api/v1/reply/index-2020-08-08T18-07-05-0087.json
project/build/.cmake/api/v1/reply/target-gcalc-Debug-a9f468fed467aec334ec.json
project/build/CMakeFiles/cmake.check_cache
project/build/CMakeFiles/CMakeDirectoryInformation.cmake
project/build/CMakeFiles/CMakeOutput.log
project/build/CMakeFiles/Makefile.cmake
project/build/CMakeFiles/Makefile2
project/build/CMakeFiles/progress.marks
project/build/CMakeFiles/TargetDirectories.txt
project/build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
project/build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
project/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
project/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
project/build/CMakeFiles/3.17.0/CMakeRCCompiler.cmake
project/build/CMakeFiles/3.17.0/CMakeSystem.cmake
project/build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
project/build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
project/build/CMakeFiles/Continuous.dir/build.make
project/build/CMakeFiles/Continuous.dir/cmake_clean.cmake
project/build/CMakeFiles/Continuous.dir/DependInfo.cmake
project/build/CMakeFiles/Continuous.dir/progress.make
project/build/CMakeFiles/ContinuousBuild.dir/build.make
project/build/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousBuild.dir/progress.make
project/build/CMakeFiles/ContinuousConfigure.dir/build.make
project/build/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousConfigure.dir/progress.make
project/build/CMakeFiles/ContinuousCoverage.dir/build.make
project/build/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousCoverage.dir/progress.make
project/build/CMakeFiles/ContinuousMemCheck.dir/build.make
project/build/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousMemCheck.dir/progress.make
project/build/CMakeFiles/ContinuousStart.dir/build.make
project/build/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousStart.dir/progress.make
project/build/CMakeFiles/ContinuousSubmit.dir/build.make
project/build/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousSubmit.dir/progress.make
project/build/CMakeFiles/ContinuousTest.dir/build.make
project/build/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousTest.dir/progress.make
project/build/CMakeFiles/ContinuousUpdate.dir/build.make
project/build/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
project/build/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
project/build/CMakeFiles/ContinuousUpdate.dir/progress.make
project/build/CMakeFiles/Experimental.dir/build.make
project/build/CMakeFiles/Experimental.dir/cmake_clean.cmake
project/build/CMakeFiles/Experimental.dir/DependInfo.cmake
project/build/CMakeFiles/Experimental.dir/progress.make
project/build/CMakeFiles/ExperimentalBuild.dir/build.make
project/build/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalBuild.dir/progress.make
project/build/CMakeFiles/ExperimentalConfigure.dir/build.make
project/build/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalConfigure.dir/progress.make
project/build/CMakeFiles/ExperimentalCoverage.dir/build.make
project/build/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalCoverage.dir/progress.make
project/build/CMakeFiles/ExperimentalMemCheck.dir/build.make
project/build/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalMemCheck.dir/progress.make
project/build/CMakeFiles/ExperimentalStart.dir/build.make
project/build/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalStart.dir/progress.make
project/build/CMakeFiles/ExperimentalSubmit.dir/build.make
project/build/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalSubmit.dir/progress.make
project/build/CMakeFiles/ExperimentalTest.dir/build.make
project/build/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalTest.dir/progress.make
project/build/CMakeFiles/ExperimentalUpdate.dir/build.make
project/build/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
project/build/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
project/build/CMakeFiles/ExperimentalUpdate.dir/progress.make
project/build/CMakeFiles/gcalc.dir/build.make
project/build/CMakeFiles/gcalc.dir/cmake_clean.cmake
project/build/CMakeFiles/gcalc.dir/CXX.includecache
project/build/CMakeFiles/gcalc.dir/depend.internal
project/build/CMakeFiles/gcalc.dir/depend.make
project/build/CMakeFiles/gcalc.dir/DependInfo.cmake
project/build/CMakeFiles/gcalc.dir/flags.make
project/build/CMakeFiles/gcalc.dir/link.txt
project/build/CMakeFiles/gcalc.dir/linklibs.rsp
project/build/CMakeFiles/gcalc.dir/objects1.rsp
project/build/CMakeFiles/gcalc.dir/progress.make
project/build/CMakeFiles/Nightly.dir/build.make
project/build/CMakeFiles/Nightly.dir/cmake_clean.cmake
project/build/CMakeFiles/Nightly.dir/DependInfo.cmake
project/build/CMakeFiles/Nightly.dir/progress.make
project/build/CMakeFiles/NightlyBuild.dir/build.make
project/build/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyBuild.dir/progress.make
project/build/CMakeFiles/NightlyConfigure.dir/build.make
project/build/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyConfigure.dir/progress.make
project/build/CMakeFiles/NightlyCoverage.dir/build.make
project/build/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyCoverage.dir/progress.make
project/build/CMakeFiles/NightlyMemCheck.dir/build.make
project/build/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyMemCheck.dir/progress.make
project/build/CMakeFiles/NightlyMemoryCheck.dir/build.make
project/build/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyMemoryCheck.dir/progress.make
project/build/CMakeFiles/NightlyStart.dir/build.make
project/build/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyStart.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyStart.dir/progress.make
project/build/CMakeFiles/NightlySubmit.dir/build.make
project/build/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
project/build/CMakeFiles/NightlySubmit.dir/progress.make
project/build/CMakeFiles/NightlyTest.dir/build.make
project/build/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyTest.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyTest.dir/progress.make
project/build/CMakeFiles/NightlyUpdate.dir/build.make
project/build/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
project/build/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
project/build/CMakeFiles/NightlyUpdate.dir/progress.make
project/build/Testing/Temporary/LastTest.log
project/build/.cmake/api/v1/reply/codemodel-v2-f6d04a21da3b62a4671f.json
project/build/.cmake/api/v1/reply/index-2020-08-08T18-22-54-0378.json
project/build/.cmake/api/v1/reply/target-gcalc-Debug-04c698fa6fe0cb638dfd.json
